@model IEnumerable<Question>

@{
    ViewData["Title"] = "AllQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Questions</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </td>
            </tr>
        }
    </tbody>
</table>
